<header>
<b>C</b> 
<ul>
    <% if(locals.user) {%>
        <li id="home-icon">
            <a href="/">
                <img width="40" height="40" src="https://img.icons8.com/windows/32/FFFFFF/home.png" alt="home"/>
            </a>
        </li>
    <li id="log-out">
        <a href="/users/sign-out">
            <img width="40" height="40" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/exit.png" alt="exit"/>
        </a>
    </li>
    <li id="logo-avatar">
        <a href="/users/profile/<%= locals.user._id %>">
            <%if(locals.user.avatar){%>
            <img src="<%=locals.user.avatar%>"  alt="<%=locals.user.name%>"  width="70px" height="70px">
            <%}else{%>
            <img src= "/images/user-profile.png" alt="<%=locals.user.name%>"  width="70px" height="70px">
                <%}%>
        </a>
    </li>
    <%}else{%>
    <li id="sign-in">
        <a href="/users/sign-in">
            Sign In
        </a>
    </li>
    <li id="sign-out">
        <a href="/users/sign-up">
            Sign Up 
       </a>
    </li>
    <%}%>
</ul>
</header>
