<h1>Connections || <%=title %> </h1>


<section id="posts">
    <form action="/posts/create" id="new-postform" enctype="multipart/form-data" method="post">
        
        <div>
            <label for="image">Upload Image</label>
            <br>
        <input type="file" name="image" id="image" value="" required>
        </div>

        <div>
            <label for="desc">Image Description</label>
            <br>
            <textarea
              id="desc"
              name="caption"
              value=""
              rows="2"
              placeholder="Caption"
              required
            ></textarea>
        </div>
       
        <input type="submit" value="submit">
    </form>
    <div id="posts-list-container">
        <ul>
            <% for(post of items) {%>
                <%-  include('_posts') -%>
              <% } %>
        </ul>
    </div>

  
</section>


<script src="/js/home_post_comments.js" ></script>
<script>
     new PostComments();
</script>
<!-- <script src="/js/home_posts.js"></script>  -->