<h1>Connections || <%=title %> </h1>


<section id="posts">
    <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="post">
        
        <div>
            <label for="image">Upload Image</label>
            <br>
        <input type="file" name="image" id="image" value="" required>
        </div>

        <div>
            <label for="desc">Image Description</label>
            <br>
            <textarea
              id="desc"
              name="caption"
              value=""
              rows="2"
              placeholder="Caption"
              required
            ></textarea>
        </div>
       
        <input type="submit" value="submit">
    </form>
    <%- include('_posts') -%>

  
</section>