<%= title %>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Enter your mail id" >
    <input type="password" name="password" placeholder="Enter your password." >
    <input type="submit" value="Sign In">
</form>



<p>
    <a href="/users/auth/google">Google Sign In</a>
    
</p> 
<p>
    <a href="/users/auth/github">Github Sign In</a>
</p>