#body-container{
    background-color: rgb(230, 230, 230);

}
#sign-up-page{
    padding-top: 7%;

}
#sign-up-form form{ 
    display: flex;
    flex-direction: column;
}
#sign-up-form {
    padding: 20px;
    border-radius: 10px;
    width: 28%;
    margin: auto;
    background-color: white;
}
#sign-up-form form input{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
}
#sign-up-form form label{
    /* font-size: larger; */
    color: rgb(127, 127, 127);
    padding: 4px;
}
#sign-up-form form label input{
    cursor: pointer;
}
#sign-up-form form input[type="submit"]{
    background-color: #0080ff;
    border: none;
    color: white;
    font-weight: bold;
}

#sign-up-form a{
    text-align: center;
    color: black;
}
#sign-up-form p{
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(160, 160, 160);
}